Package: lym.Eclectic.Themes
Name: Eclectic by主题-Rootless
Version: 2.6
Section: 系统美化
Architecture: iphoneos-arm64
Maintainer: lym
Author: lym
Description: SnowBoard自用Eclectic by主题包
 - 主题安装后去SnowBoard设置里面启用生效
 - 源内所有插件仅供本人学习交流使用，下载后请于24小时内删除!
SileoDepiction: https://raw.githubusercontent.com/liym5238/liym/refs/heads/main/js/lym.zhuti.iosios.net.solsticerootless.json
Replaces: zhuti.iosios.net.solsticerootless
Depends: com.spark.snowboard, com.spark.snowboard.ui
